/User
.id
.username - 
.email - 
.typeOfUser - студент или ВУЗ

.posts - List<Post> new ArrayList<> posts - посты юзера 

/Post
.id 
.title - название поста
.content - содержание поста 
.description - краткое описание поста
.author - автор поста
.createdAt - время создания поста
.updatedAt - время обновления поста

.post - 




